.sidenav {
    display: flex;
    // flex: 1;
    flex-grow: 0.125;
    background-color: #fff;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    border-right: 1px solid #E5E7EB;
    max-width: 100%;

    .sidenav-btn {
        height: 10%;
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        width: 100%;

        .button {
            // This is the key to making the button not shrink
            padding-inline: auto;
        }


    }

    .sidenav-menu {
        height: 40%;
        background-color: #fff;

    }

    .sidenav-sms {
        padding-top: 10px;
        height: 50%;
        border-top: 2px solid #E5E7EB;
    }
}